<p style="color: green"><%= notice %></p>

<% content_for :title, "Links" %>

<h1>Links</h1>


<div id="links"> 
  <% @links.each.with_index do |link, _| %>
    <div  style=" border: 1px solid black; ">
      <%= render link %>
      <% if user_signed_in? %>
        <% if current_user.liked? link %>
          <%= link_to 'unlike', like_link_path(link, 'unlike'), method: :put %>
        <% else %>
          <%= link_to 'like', like_link_path(link, 'like'), method: :put%>
        <% end %>
        <%= link.get_upvotes.size %>
        &nbsp;&nbsp;&nbsp;

        <% if current_user.disliked? link %>
          <%= link_to 'undislike', dislike_link_path(link, 'undislike'), method: :put%>
        <% else %>
          <%= link_to 'dislike', dislike_link_path(link, 'dislike'), method: :put %>
        <% end %>
        <%= link.get_downvotes.size %>
      <% end %>
      
      &nbsp;&nbsp;&nbsp;
      Number of Comments: <%= link.comments.size %>
      
      &nbsp;&nbsp;&nbsp;
      <%= link_to "Show this link", link %>

      &nbsp;&nbsp;&nbsp;
      <% if user_signed_in? %>
        <%= link_to "Add a comment for this link", new_link_comment_path(link) %>
      <% end %>

     
    </div>
  <% end %>
</div>

 <% if user_signed_in? %>
  <%= link_to "New link", new_link_path %>
<% end %>
